body{
}
.main{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    

    

}
.button{
    width: 100px;
    padding: 50px;
    margin: 30px;
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 2px 2px #4848483d;
    border: 2px solid white;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#aqua{
    background-color: aqua;
}
.reset{
    display: flex;
    justify-content: center;
}
.reset-btn{
    padding: 15px 30px;
    border: 1px solid red;
    color: red;
    border-radius: 10px;
}

/* form css */
.form{
padding:100px 50px;
}
.form div{
margin-bottom: 20px;
}
.form div label{
    padding-right: 20px;
}
.form div button{
    padding: 5px 10px;
}